In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('weight-height.csv')

In [3]:
db.shape

(10000, 3)

In [4]:
db.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [5]:
db

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
db.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [7]:
db.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [8]:
y = db['Weight']

In [9]:
x = db['Height']

In [10]:
# Sequential to add a layers and fit model into that like linearRegression in ml 
from keras.models import Sequential

In [11]:
model = Sequential()

In [12]:
# dense is like a neuron so in layer neuron many dense are there which can helps to predict the model 
from keras.layers import Dense

In [13]:
#Activation function decides, whether a neuron should be activated or not by calculating weighted sum and further 
#adding bias with it. The purpose of the
#activation function is to introduce non-linearity into the output of a neuron
#model.add for adding something into dense which is help to predict
#input shape is no of columns
model.add(Dense(bias_initializer='zeros', kernel_initializer='zeros', units=1, activation= 'linear', input_shape=(1,)))

In [14]:
# to know content inside model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [15]:
# to know all things added into neurons
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'units': 1,
    'activation': 'linear',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [16]:
#Optimizers are algorithms or methods used to change the attributes of the neural network 
#such as weights and learning rate to reduce the losses
# the learning rate is a configurable hyperparameter used in the training of neural networks that has a small positive value
# often in the range between 0.0 and 1.0.
from keras.optimizers import Adam

In [17]:
#it compile the model and  optimiser and loss 
model.compile(optimizer=Adam(), loss='mean_squared_error', metrics=['accuracy'] )

In [18]:
model.fit(x,y)

313/313 [==============================] - 22s 2ms/step - loss: 25563.7347 - accuracy: 0.0000e+00

In [19]:
model.get_weights()

[array([[0.30292144]], dtype=float32), array([0.30323386], dtype=float32)]

In [21]:
model.predict([[20]])

array([[6.361663]], dtype=float32)

In [22]:
model.predict([100])

array([[30.595379]], dtype=float32)

In [ ]:
#inbuilt function in keras to save the model
model.save("height_weightNN.h5")